@import url("https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap");
:root {
  --clr-nav: #fef7dc;
  --clr-h1: #756c51;
  --clr-p: #857c66;
  --clr-a: #6e6755;
  --clr-main: #e6ddc6;
  --clr-footer: #fef7dc;
  --clr-line: #ccc2ab;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.container {
  width: 75%;
  margin: auto;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--clr-a);
  font-size: 1.3em;
}

h1 {
  color: var(--clr-h1);
  font-size: 6em;
}

p {
  font-size: 1.6em;
  color: var(--clr-p);
}

ul {
  list-style-type: none;
}

.btn {
  display: inline-block;
}

header {
  background: var(--clr-nav);
  border-bottom: 0.5px solid var(--clr-line);
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6.3rem;
}

header nav .logo a {
  font-family: 'Zen Tokyo Zoo', cursive;
  font-size: 3.5em;
}

header nav ul {
  display: flex;
  align-items: center;
  gap: 1.6em;
}

header nav ul li {
  transition: text-decoration 3s;
}

header nav ul li:hover {
  text-decoration: underline;
}

main {
  background: var(--clr-main);
}

main .box {
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url(./assets/mhd.jpg) center center/cover;
}

main .box h1 {
  padding: 0.4em 0 0.6em 0;
  text-align: center;
}

main .box p {
  margin: 0 0 2em 0;
  text-align: justify;
  padding: 0 1.3em;
}

main .box .btn {
  padding: 0 0 1.3em 0;
  display: flex;
  justify-content: center;
}

main .box .btn a {
  text-align: center;
  font-size: 1.9em;
  border: 5px solid red;
  padding: 0.4em;
  border-radius: 3px;
  transition: background 0.3s ease, color 0.3s ease;
}

main .box .btn a:hover {
  background: red;
  color: black;
}

footer {
  padding: 1em 0 0 0;
  background: var(--clr-footer);
  border-top: 0.5px solid var(--clr-line);
}

footer .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

footer .container ul {
  margin: auto;
}
