@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');

:root {
  --clr-nav: #fef7dc;
  --clr-h1: #756c51;
  --clr-h2: #57503b;
  --clr-p: #c39831;
  --clr-a: #6e6755;
  --clr-main: #e9d6a5;
  --clr-footer: #fef7dc;
  --clr-line: #ccc2ab;
  --clr-btn: #906d1a;
}

.darkmode {
  --clr-nav: #333;
  --clr-main: #000;
  --clr-svg: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.container {
  width: 75%;
  margin: auto;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--clr-a);
  font-size: 1.3em;
}

h1 {
  color: var(--clr-h1);
  font-size: 6em;
}

h2 {
  color: var(--clr-h2);
  font-size: 2em;
}

p {
  font-size: 1.6em;
  color: var(--clr-p);
}

ul {
  list-style-type: none;
}

.btn {
  display: inline-block;
  background: none;
  border: none;
  cursor: pointer;
}

header {
  background: var(--clr-nav);
  border-bottom: 0.5px solid var(--clr-line);

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6.3rem;

    .logo {
      a {
        font-family: 'Zen Tokyo Zoo', cursive;
        font-size: 3.5em;
      }
    }

    ul {
      display: flex;
      align-items: center;
      gap: 1.6em;

      li {
        // transition

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

main {
  background: var(--clr-main);

  h1 {
    padding: 0.4em 0 0.6em 0;
    text-align: center;
  }

  p {
    margin: 0 0 1em 0;
    text-align: justify;
    padding: 0 1.3em;

    &:last-of-type {
      margin: 0 0 2em 0;
    }
  }

  .box {
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url(./assets/mhd.jpg) center center / cover;

    .btn {
      padding: 0 0 1.3em 0;
      display: flex;
      justify-content: center;

      a {
        text-align: center;
        font-size: 1.9em;
        border: 5px solid var(--clr-btn);
        padding: 0.4em;
        border-radius: 3px;
        transition: background 0.3s ease, color 0.3s ease;

        &:hover {
          background: var(--clr-btn);
          color: black;
        }
      }
    }
  }

  .sponsors {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4em;
    padding: 5em 0 5em 0;
    align-items: flex-end;

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    img {
      width: 75%;
    }
  }
}

main.about {
  h1 {
    text-align: center;
  }

  h2 {
    font-size: 2.5em;

    &:first-of-type {
      padding: 0 0 0.5em 0;
    }
  }

  p {
    padding: 0 0 1em 1.2em;
  }

  ul {
    padding: 0 0 1.9em 1.9em;
    li {
      display: flex;
      align-items: center;

      img {
        width: 3em;
        padding: 0 0.7em 0 0;
      }
    }
  }
}

footer {
  padding: 2em 0 0 0;
  background: var(--clr-footer);
  border-top: 0.5px solid var(--clr-line);

  img {
    width: 1.3em;
    padding: 0 5px 0 0;
  }

  .container {
    .content {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      ul {
        margin: 0 auto;

        h2.title {
          padding: 0 0 0.3em 0;
        }

        li {
          a {
            display: flex;
            align-items: center;
          }
        }

        &.authors {
          li.heading {
            font-size: 1.5em;
            color: var(--clr-a);

            &:not(:first-of-type) {
              padding: 1em 0 0 0;
            }
          }
        }
      }
    }
    .cc {
      padding: 3em 0 3em 0;
      text-align: center;

      p {
        color: var(--clr-a);
        font-size: 1.3em;
      }
    }
  }
}
